.player {
  position: absolute;
  height: 60px !important;
  width: 100vw !important;
  left: 0;
  bottom: 6px;
  right: 0;

  & > audio::-webkit-media-controls {
    border-radius: 0 !important;
  }

  & > audio::-webkit-media-controls-panel {
    background-color: #dfdfdf;
  }

}
